*{
    background-color: aqua;
}

button{
    background-color: aliceblue;
    cursor: pointer;
    border-radius: 5px;
}
button:hover{
    background-color: brown;
}
input{
    background-color: aliceblue;
}
select{
    background-color: aliceblue;
}